[supervisord]
nodaemon=true

[program:app]
command=node app.js  # Adjust this to your entry point
directory=/app
autostart=true
autorestart=true
stderr_logfile=/var/log/app.err.log
stdout_logfile=/var/log/app.out.log

[program:nginx]
command=nginx -g "daemon off;"
autostart=true
autorestart=true
stderr_logfile=/var/log/nginx.err.log
stdout_logfile=/var/log/nginx.out.log

[program:dnsmasq]
command=/usr/sbin/dnsmasq -k
autostart=true
autorestart=true
stderr_logfile=/var/log/dnsmasq.err.log
stdout_logfile=/var/log/dnsmasq.out.log